spring:
  profiles:
    active: dev
  application:
    name: Journal App
    data:
      mongodb:
        uri:
        database: journaldb
        auto-index-creation: true

  server:
    port: 8080
    servlet:
      context-path: /our-journal

api:
  weatherstack:
    key: ${WEATHERSTACK_API_KEY:YOUR_WEATHERSTACK_KEY_HERE}
  ninjas:
    key: ${NINJAS_API_KEY:YOUR_NINJAS_KEY_HERE}